<header class="header-nav">
    <div class="header-left-section">
        <a href="/">
            <img src="{{ 'b-removebg.png' | asset_url }}" width="50" height="50">
        </a>
    </div>

    <div class="header-middle-section">
        <ul class="middle-nav-links">
            {% for link in linklists['main-menu'].links -%}
            <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor %}
        </ul>
    </div>

    <div class="header-right-section">
        <form action="/search">
          <input class="search-nav" placeholder="search" type="search">
        </form>
    
        <a href="/cart" class="cart-nav">
          <img
            class="shopping-img"
            width="28"
            height="28"
            loading="lazy"
            src="{{ 'd-removebg.png' | asset_url }}"
            alt="Cart"
          >
        </a>
      </div>
</header>

<style>
    .shopping-img {
      cursor: pointer;
      display: block;
    }
    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 1px;
      background-color: #2F4F4F;
      padding: 0 30px 0 30px;
    }
  
    .middle-nav-links {
      display: flex;
      font-size: 17px;
      font-weight: bold;
    }
  
    .middle-nav-links li {
      list-style-type: none;
      padding: 10px;
    }
  
    .middle-nav-links li:hover {
      text-decoration: underline;
      color: white;
    }
  
    .middle-nav-links a {
      text-decoration: none;
      color: inherit;
    }
  
    .header-right-section {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .search-nav {
      padding: 10px;
      margin-top: 10px;
      border-radius: 15px;
      border: none;
      background-color: rgb(98, 136, 136);
      box-sizing: border-box;
    }

    .cart-nav {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 6px;
      margin: 0;
      border-radius: 15px;
      background-color: rgb(98, 136, 136);
      text-decoration: none;
      line-height: 0;
      align-self: center;
      transform: translateY(-2px);
    }

    .search-nav::placeholder {
      color: white;
    }

  </style>
